<!doctype html>
<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
</head>
<title>Milestone1</title>
<!--<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>-->

<body>
<div class=page>
    
  <center>
  <h1>MISO Energy Prices</h1>
    <h4>
      Choose a node point
    </h4>
      
     <form id='nodename' method='post' action='index_Main' >
      
    Node name: <input type='text' name='nodename' /> <input type='submit' value='Add' >
         <br>
         {{Nodename}}
         </form>
    <div class=container>
        <table class="table">
            <caption>Chosen Nodes</caption>
            <thead>
             <tr>
            <th></th> <th>Node Name</th> <th>State</th> <th>Type</th> </tr> </thead> <tbody>
            <tr>
            <th scope="row">1</th> <td>{{node1n}}</td> <td>{{node1s}}</td> <td>{{node1t}}</td> </tr>
<!--            <tr>
            <th scope="row">2</th> <td>Jacob</td> <td>Thornton</td> <td>@fat</td> </tr>
            <tr>
            <th scope="row">3</th> <td>Larry</td> <td>the Bird</td> <td>@twitter</td> </tr> </tbody>-->
        </table>
        <script>
            var node1 = {{node1}};
        </script>
         </div>
         <form id='nodename' method='post' action='index_Main' >
           <input type='submit' value='Submit nodes' >
         </form>
          {{node1}}
      
    
      <iframe width="100%" height="520" frameborder="0" src="https://mtlawder.cartodb.com/viz/53648bdc-b94e-11e5-bac2-0ef24382571b/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
      

    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </center>
    </div>
    
    </body>
    
