
<!DOCTYPE html>
<html>
  <head>
    <title>MISO Prices</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	
    
    <!-- Map takes up full browser window -->
    <style>
      html, body, #map {
        height: 95%;
        padding: 10;
        margin: 10;

      }
    </style>

    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
  </head>
  <body>
  <center>
  <h1>MISO Energy Prices</h1>
    <h4>
      Choose a node point
    </h4>
      
	       <form id='nodename' method='post' action='index_Main' >
      
    Nodes<br> Node 1 <input type='text' name='nodename' /> 
         <br>
         Node 2 <input type='text' name='nodename2'/>
<!--         <br>
        <input type='submit' value='Submit nodes' >

         
         <p id="insertinputs"></p>
         
         
        <input type="checkbox" name="check1" onclick="dynInput(this);"  value="False"/>-->
         <br>
         <input type="radio" name="nodenum" value="1nodes" checked> Evaluate single node
         <input type="radio" name="nodenum" value="2nodes"> Compare two nodes  
         <br>
         <input type='submit' value='Submit' >
         <br>
         {{Nodename}}
         </form>

</center>
  
    <div id="map" style="border: 10px solid; margin:5px"></div>

    <!-- include cartodb.js library -->
    <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <div class=container>
        <table class="table">
            <caption>Chosen Nodes</caption>
            <thead>
             <tr>
            <th></th> <th>Node Name</th> <th>State</th> <th>Type</th> </tr> </thead> <tbody>
            <tr>
            <th scope="row">1</th> <td>{{node1n}}</td> <td>{{node1s}}</td> <td>{{node1t}}</td> </tr>
<!--            <tr>
            <th scope="row">2</th> <td>Jacob</td> <td>Thornton</td> <td>@fat</td> </tr>
            <tr>
            <th scope="row">3</th> <td>Larry</td> <td>the Bird</td> <td>@twitter</td> </tr> </tbody>-->
        </table>
        </div>
    <!-- Drop your code between the script tags below! -->
    <script>
    window.onload = function(){
    var option ={center:[41.5,-89.5],
                zoom: 5};
    var vizjson = 'https://mtlawder.cartodb.com/api/v2/viz/53648bdc-b94e-11e5-bac2-0ef24382571b/viz.json';
    cartodb.createVis('map', vizjson);
    }
    </script>

  </body>
</html>