<!doctype html>
<title>Milestone1</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.2.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.2.min.js"></script>
    {{ script | safe }}
<div class=page>
    <center>
  <h1>Stock Prices for {{Stock}}</h1>
        <form id='Back' method='get' action='index_Main' >
      <input type='submit' value='Back'/>
      </form>
    <div class=metanav>
    <h4>
      
      {{ div | safe }}
    </h4>
    <h5>
    </center>
    </h5>

    
  </div>
</div>
